<!DOCTYPE html>
<html #content>
<head>
  <title>Formulário de login HTML/CSS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="login.component.css">
</head>
<body>
<div class="login-box">
  <h1>PornHub</h1>
  <div class="textbox">
    <i class="fa fa-user" aria-hidden="true"></i>
    <input type="text" placeholder="Usuari" name="" value="">
  </div>

  <div class="textbox">
    <i class="fa fa-lock" aria-hidden="true"></i>
    <input type="password" placeholder="Contrasenya" name="" value="">
  </div>
  <a href="/principal">a</a>
  <button class="btn" (click)="comprovar()">Entrar</button>
</div>
</body>
</html>
